*
!*/

!.gitignore
!README.md
!README_zh-CN.md

!hypr/**
hyprpaper.conf
hypr/wallpaper/**

!waybar/**

!nvim/**

!fish/**
!kitty/**
!fuzzel/**
!mako/**

!gtk-3.0/**
!cava/**
cava/shaders/**
!fastfetch/**
